# ignore all images and videos data but allow anything in ./data/fun and ./data/out_images
.venv
data/**/*.JPG
data/**/*.jpg
data/**/*.jpeg
data/**/*.png
data/**/*.mp4
data/**/*.avi
*.MP4
!data/fun/*.JPG